body {
    font-family: georgia;
}

p {
    margin-bottom: 1em;
    padding-bottom: 1em;
    line-height: 1.2;
}

.nav-pane a {
    color: black;
    text-decoration: none;
}

.nav-pane ul {
    list-style: none;
    padding-left: 10%;
    line-height: 1.5;
}

.nav-pane .normal {
    font-weight: bold;
}

.nav-pane .search {
    margin: 1em;
}

.content .contents_table p.example,
.content .contents_table p.example_no_lines {
    padding-left: 2em;
}

.content .contents_table p.example a,
.content .contents_table p.example_no_lines a {
    padding-left: 2em;
    color: black;
    font-weight: bold;
    text-decoration: none;
}



.content .stars {
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 2vw;
}

.content .stars::after {
    content: "* * *"
}

.nav-footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 800px) {

  .content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
