@font-face {
    font-family: tinellb;
    src: url('http://www.tinellb.com/Lulani.ttf');
}

ipa { /* Proper nouns in the target language */
	font-family: lucida sans unicode, segoe ui, monospace;
}

small-caps { /* Remove italics from small-caps */
	font-variant: small-caps;
	font-weight: none;
	font-style: normal;
}

high-lulani, vulgar-lulani {
	font-family: tinellb, lulani;
}

high-lulani::before, vulgar-lulani::before {
	content: "\202e";
}

high-lulani::after, vulgar-lulani::after {
	content: "\202c";
}

body {
	background-color: cornsilk;
	font-family: sans-serif;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.content {
	width: 20em;
	flex-grow: 1;
	padding: 1em 10%;
	margin-left: 13em;
	text-align: justify;
}

.content p {
	line-height: 1.5;
	font-family: sans-serif;
	text-indent: 1em;
}

.content p high-lulani {
	display: block;
	direction: rtl;
	font-size: large;
}

.content p span.stars { /* Text breaks */
	display: block;
	text-align: center;
}

.content p high-lulani span.stars {
	display: block;
	text-align: center;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	font-family: serif;
	text-align: center;
}

.content h2 {
	text-decoration: underline;
}

.content table {
	line-height: 1.5;
	margin: auto;
}

.content td {
	font-family: sans-serif;
	text-align: center;
}

.content table tr:nth-child(3) td {
	padding-left: 1em;
}

.content table table {
	margin: 0;
}

.content table table td {
	text-align: left;
	padding-left: 0;
}

.content div.literal {
	font-style: italic;
	font-weight: normal;
	font-family: sans-serif;
}

.content div.literal em {
	font-style: normal;
}

.content ul.main {
	list-style: none;
}

.content ul.main li a {
	color: black;
	font-size: large;
	font-weight: bold;
}

.content form {
	padding-left: 6em;
	text-indent: 0;
	line-height: 1;
}

.nav-header {
	background-color: seagreen;
	width: 12em;
	position: fixed;
	height: 96%;
	margin: 1% 1em;
	padding: 1% 2em;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	color: cornsilk;
}

.nav-header:hover {
	overflow: auto;
}

.nav-header a {
	color: cornsilk;
	text-decoration: none;
}

.nav-header ul {
	list-style: none;
	padding: 0;
}

.nav-header ul.level-1 {
	padding-left: 1em;
}

.nav-header ul.level-2 {
	padding-left: 1em;
}

.nav-header ul.level-3 {
	padding-left: 1em;
}

.nav-header li {
	padding-bottom: 0.5em;
}

.nav-header li.normal {
	font-weight: bold;
	text-decoration: underline;
}

.nav-header li.up-arrow {
	margin-bottom: 1em;
}

.nav-footer {
	text-align: right;
	padding: 0 10%;
	margin: 0;
}

.nav-footer a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.toc a {
	font-weight: bold;
	color: black;
	font-size: 125%;
	text-decoration: none;
	line-height: 1;
}

.results {
	text-indent: -2em;
	line-height: 1.5;
	padding-left: 2em;
}

.results a {
	color: black;
}

.results ol {
	list-style-position: inside;
}

.results li {
	padding-top: 2em;
}

@media screen and (max-width: 800px) {

	.content {
    order: 1;
		margin: 0;
		width: 80%;
  }

	.content p {
		width: 100%;
	}

  .nav-header {
		position: static;
		width: 100%;
		padding: 0 20%;
    order: 2;
		overflow: auto;
  }
}
