body {
    font-family: georgia;
}

nav.main a {
    color: black;
    text-decoration: none;
}

nav.main ul {
    list-style: none;
    line-height: 1.5;
}

nav.main .normal {
    font-weight: bold;
}

nav.main .search {
    margin: 1em;
}

main .toc {
	counter-reset: number;
}

main .toc p::before {
	counter-increment: number;
	content: counter(number) '.';
    font-size: normal;
}

main .stars p {
    text-align: center;
    margin: 1em 0;
    letter-spacing: 2vw;
}

.nav-footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    main {
        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }
}