body {
    font-family: georgia;
}

main .toc {
	counter-reset: number;
}

main .toc p::before {
	counter-increment: number;
	content: counter(number) '.';
    font-size: normal;
}

main .stars p {
    text-align: center;
    margin: 1em 0;
    letter-spacing: 2vw;
}

@media screen and (max-width: 800px) {
    main {
        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }
}